<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="tableTop" class="com.toyrobot.api.core.tabletop.TableTop"/>

    <bean name="tableTopCommandExecutor" class="com.toyrobot.api.usecase.TableTopCommandExecutor">
        <constructor-arg name="tableTop" value="tableTop"/>
    </bean>
    <bean id="toyRobotEndPoint" name="tableTopEndPoint" class="com.toyrobot.api.adapters.controllers.ToyRobotEndPoint">
        <constructor-arg ref="tableTopCommandExecutor"/>
    </bean>
</beans>